In [2]:
import pandas as pd

In [5]:
df = pd.read_csv("../../data/run.csv")
df

,Unnamed: 0,pulso.antes,pulso.despues,hace.deporte,fuma,genero,altura,peso,tipo.actividad
0,1,48,54,no,si,H,68.0,150,nula
1,2,54,56,no,si,H,69.0,145,moderada
2,3,54,50,no,no,H,69.0,160,moderada
3,4,58,70,si,no,H,72.0,145,moderada
4,5,58,58,no,no,H,66.0,135,intensa
...,...,...,...,...,...,...,...,...,...
87,88,92,94,no,si,H,69.0,150,moderada
88,89,94,92,no,si,M,62.0,131,moderada
89,90,96,140,si,no,M,61.0,140,moderada
90,91,96,116,si,no,M,68.0,116,moderada
91,92,100,115,si,si,M,63.0,121,moderada

In [6]:
df.describe()

       Unnamed: 0  pulso.antes  pulso.despues     altura        peso
count    92.00000    92.000000      92.000000  92.000000   92.000000
mean     46.50000    72.869565      80.000000  68.717391  145.152174
std      26.70206    11.008705      17.093794   3.659291   23.739398
min       1.00000    48.000000      50.000000  61.000000   95.000000
25%      23.75000    64.000000      68.000000  66.000000  125.000000
50%      46.50000    71.000000      76.000000  69.000000  145.000000
75%      69.25000    80.000000      85.000000  72.000000  155.500000
max      92.00000   100.000000     140.000000  75.000000  215.000000

### Indica cuantos estudiantes formaron parte del estudio de deporte

In [9]:
len(df)

92

### Indica cuantos individuos son hombres y cuantos son mujeres

In [40]:
df_genero = df.groupby('genero')['genero'].count()
df_genero

genero
H    57
M    35
Name: genero, dtype: int64

### Calcula el porcentaje medio de variación del pulso por minuto entre antes y después de hacer ejercicio y compara el valor de los que hacen ejercicio habitualmente y los que no. ¿Observas mucha diferencia?

In [92]:
def diff_pulso(x):
    x['diff.pulso'] = x['pulso.despues'] - x['pulso.antes']
    return x
df_diff_pulso = df.groupby('hace.deporte').apply(diff_pulso)
df_diff_pulso
df_diff_pulso.groupby('hace.deporte')['diff.pulso'].aggregate(['min', 'mean', 'max'])
df_diff_pulso.groupby('hace.deporte').aggregate({
    'diff.pulso': 'mean'
})

              diff.pulso
hace.deporte
no             -0.105263
si             18.914286

### otra manera de añadir columna

In [111]:
df_variacion = df
df_variacion['variacion.pulso'] = abs(((df_variacion['pulso.despues'] - df_variacion['pulso.antes']) / df_variacion['pulso.antes']) * 100)
df_variacion.groupby('genero').mean().round(2)

,Unnamed: 0,pulso.antes,pulso.despues,altura,peso,variacion.pulso
genero,,,,,,
H,40.67,70.42,75.88,70.75,158.26,10.75
M,56.00,76.86,86.71,65.40,123.80,16.40

### Calcula el porcentaje medio de variación del pulso por minuto entre antes y después de hacer ejercicio  para los estudiantes que hacen ejercicio habitualmente y compara el valor de los hombres con el de las mujeres. ¿Observas mucha diferencia?

In [91]:
df_diff_pulso[(df_diff_pulso['hace.deporte'] == 'si')].groupby('genero')['diff.pulso'].aggregate(['min', 'mean', 'max'])

        min       mean  max
genero
H        -8  12.958333   42
M        15  31.909091   48

### Calcula el porcentaje medio de variación del pulso por minuto entre antes y después de hacer ejercicio para los estudiantes que no hacen ejercicio habitualmente y compara el valor de los fumadores con los no fumadores. ¿Observas mucha diferencia?

In [110]:
df_diff_pulso[(df_diff_pulso['hace.deporte'] == 'no')].groupby('fuma')['diff.pulso'].aggregate(['min', 'mean', 'max'])
df_variacion[(df_variacion['hace.deporte'] == 'no')].groupby(['hace.deporte', 'fuma']).mean().round(2)

                   Unnamed: 0  pulso.antes  pulso.despues  altura    peso  \
hace.deporte fuma
no           no         45.51        71.71          71.51   68.08  138.20
             si         50.88        74.25          74.38   68.03  148.62

                   variacion.pulso
hace.deporte fuma
no           no               3.50
             si               5.96

### Calcula el porcentaje medio de variación del pulso por minuto entre antes y después de hacer ejercicio de todos los estudiantes según el tipo de actividad física que realizan. ¿Observas alguna diferencia?

In [93]:
df_diff_pulso.groupby('tipo.actividad')['diff.pulso'].aggregate(['min', 'mean', 'max'])

                min       mean  max
tipo.actividad
intensa          -8   0.619048   16
moderada        -14  10.049180   48
nula              6   6.000000    6
suave            -4   2.666667   12